:root {
    --primary-pale-blue: hsl(225, 100%, 94%);
    --primary-bright-blue: hsl(245, 75%, 52%);
    --neutral-xpale-blue: hsl(225, 100%, 98%);
    --neutral-desat-pale-blue: hsl(224, 23%, 55%);
    --neutral-dark-blue: hsl(223, 47%, 23%);

    --background-color: var(--primary-pale-blue);
    --card-bkgnd-color: white;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background-image: url(../images/pattern-background-mobile.svg);
    background-color: var(--background-color);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.6rem;
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 32.7rem;
    background-color: var(--card-bkgnd-color);
}

#header {
    font-size: 2.2rem;
    color: var(--neutral-dark-blue);
}

#hero {
    width: 32.7rem;
}

.text-content {
    text-align: center;
    color: var(--neutral-desat-pale-blue);
    font-size: 1.5rem;
    line-height: 2.2rem;
}

#plan {
    background-color: var(--neutral-xpale-blue);
    display: flex;
    align-items: center;
}

.plan-info {

}


/*
    --------- FOR SCREEN READERS ---------
*/

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}



/*
    ------------ FOOTER --------------
*/

.footer {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    text-align: center;
    margin-bottom: 1rem;
}

.footer a {
    color: hsl(228, 45%, 44%);
}