:root {
    --primary-pale-blue: hsl(225, 100%, 94%);
    --primary-bright-blue: hsl(245, 75%, 52%);
    --neutral-xpale-blue: hsl(225, 100%, 98%);
    --neutral-desat-pale-blue: hsl(224, 23%, 55%);
    --neutral-dark-blue: hsl(223, 47%, 23%);

    --background-color: var(--primary-pale-blue);
    --card-bkgnd-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background-image: url(../images/pattern-background-mobile.svg);
    background-color: var(--background-color);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.6rem;
}



/*
    =========== CARD STYLING ============
*/

.card {
    display: flex;
    flex-direction: column;
    max-width: 32.7rem;
}

#hero {
    width: 32.7rem;
    border-radius: 2rem 2rem 0 0;
}

.order-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-bkgnd-color);
    padding: 3.2rem 0;
    border-radius: 0 0 2rem 2rem;
}


/*
    ============ HEADER =============
*/
#header {
    font-size: 2.2rem;
    color: var(--neutral-dark-blue);
    font-weight: 900;
    margin: 0;
}

/*
    ============ SUMMARY CONTENT =============
*/

.text-content {
    text-align: center;
    color: var(--neutral-desat-pale-blue);
    font-size: 1.5rem;
    line-height: 2.5rem;
    width: 26.3rem;
    margin: 1.9rem 0 2.1rem 0;
}

/*
    ============ PLAN SECTION =============
*/

#plan {
    background-color: var(--neutral-xpale-blue);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.6rem 0;
    border-radius: 1.1rem;
    width: 27.9rem;
    font-size: 1.4rem;
    margin-bottom: 2.4rem;
}

.plan__info {
    line-height: 2.2rem;
    margin-right: 3.3rem;
}

.plan__info  p {
    margin: 0;
}

.plan__info > .type {
    font-weight: 900;
}

.plan__info > .price {
    color: var(--neutral-desat-pale-blue);
}

.plan__change {
    position: relative;
    font-weight: 700;
    color: var(--primary-bright-blue);
}

.plan__change:hover {
    color: var(--primary-bright-blue);
}

/*
    Border styling under change (.plan__change) link
*/

/*
    =========== PAYMENT BUTTON =============
*/

.pay-btn {
    padding: 1.5rem 6.4rem;
    margin-bottom: 2.4rem;
    border-radius: 1.1rem;
    background-color: var(--primary-bright-blue);
    color: white;
    border: none;
    font-weight: 900;
    font-size: 1.5rem;
    box-shadow: 0 2rem 2rem hsla(245, 75%, 52%, 0.2);
}


/*
    =========== CANCEL ORDER LINK ===========
*/
.cancel-link {
    text-decoration: none;
    color: var(--neutral-desat-pale-blue);
    font-weight: 900;
    font-size: 1.5rem;

}


/*
    ========== FOR SCREEN READERS ===========
*/

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}



/*
    ============ FOOTER ==============
*/

.footer {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    text-align: center;
    margin-bottom: 1rem;
}

.footer a {
    color: hsl(228, 45%, 44%);
}